from .common import *

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'taiga',
        'USER': 'taiga',
        'PASSWORD': 'taiga',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

MEDIA_URL = "__URL__/media/"
STATIC_URL = "__URL__/static/"
SITES["front"]["scheme"] = "__SCHEME__"
SITES["front"]["domain"] = "__DOMAIN__"

SECRET_KEY = "theveryultratopsecretkey"

DEBUG = False
__PUBLIC_REGISTER_ENABLED__

__DEFAULT_FROM_EMAIL__
__SERVER_EMAIL__

# Uncomment and populate with proper connection parameters
# for enable email sending. EMAIL_HOST_USER should end by @domain.tld
__EMAIL_BACKEND__
__EMAIL_USE_TLS__
__EMAIL_HOST__
__EMAIL_HOST_USER__
__EMAIL_HOST_PASSWORD__
__EMAIL_PORT__

# Uncomment and populate with proper connection parameters
# for enable github login/singin.
#GITHUB_API_CLIENT_ID = "yourgithubclientid"
#GITHUB_API_CLIENT_SECRET = "yourgithubclientsecret"
EVENTS_PUSH_BACKEND = "taiga.events.backends.rabbitmq.EventsPushBackend"
EVENTS_PUSH_BACKEND_OPTIONS = {"url": "amqp://taiga:taiga@localhost:5672/taiga"}
