{
    "api": "__URL__/api/v1/",
    "eventsUrl": "__WS_URL__/events",
    "debug": "true",
    "publicRegisterEnabled": __FRONTEND_PUBLIC_REGISTER_ENABLED__,
    "feedbackEnabled": true,
    "privacyPolicyUrl": null,
    "termsOfServiceUrl": null,
    "maxUploadFileSize": null,
    __FRONT_CONFIGS__
    "contribPlugins": [
      __FRONT_PLUGINS__
    ]
}
